Repository some-natalie/kubernoodles, pull requests merged in 2022-08, with the labels that each got.

#104 Remove sudo from podman image
  images/hooks/job-completed.sh
  images/hooks/job-started.sh
  images/podman.Dockerfile
Labels: patch

#108 GitHub Apps & OpenShift
  docs/README.md
  docs/admin-openshift.md
  docs/builds/actions-custom-runner/Dockerfile
  docs/builds/podman/Dockerfile
  docs/builds/podman/entrypoint.sh
  docs/builds/podman/logger.sh
  docs/manifests/my-custom-deployment.yaml
  docs/manifests/my-custom-hra.yaml
Labels: documentation

#115 Move GHAE deployment to GHES
  deployments/ghae/README.md
  deployments/ghes/README.md
  deployments/ghes/bootstrap.sh
  deployments/ghes/podman.yml
  deployments/ghes/rootless-ubuntu-focal.yml
  deployments/ghes/ubuntu-focal.yml
  deployments/ghes/ubuntu-jammy.yml
Labels: chore

#113 bump runner from 2.294.0 to 2.295.0
  images/podman.Dockerfile
  images/rootless-ubuntu-focal.Dockerfile
  images/ubuntu-focal.Dockerfile
  images/ubuntu-jammy.Dockerfile
Labels: chore, dependencies, patch

#120 bump compose to 2.9.0
  images/rootless-ubuntu-focal.Dockerfile
  images/ubuntu-focal.Dockerfile
  images/ubuntu-jammy.Dockerfile
Labels: chore, dependencies, patch

#124 bump runner from 2.295.0 to 2.296.0
  images/podman.Dockerfile
  images/rootless-ubuntu-focal.Dockerfile
  images/ubuntu-focal.Dockerfile
  images/ubuntu-jammy.Dockerfile
Labels: chore, dependencies, patch

#125 Update docs
  .github/workflows/test-podman.yml
  docs/admin-setup.md
  images/README.md
Labels: documentation
